:root {
  /*color specs*/
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);

  /*font specs*/
  --std-ft-sz: 1rem;
  --std-ft-w: 400;
  --bld-ft-w: 700;

  --std-wd: 250px;
  --std-rd: 12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--slate-300);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--std-ft-sz);
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  width: fit-content;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  border-radius: calc(var(--std-rd) + 4px);
  box-shadow: 0 10px 30px rgba(23, 32, 49, 0.06);
  transition: all 0.3s ease;
}

article:hover {
  box-shadow: 0 20px 40px rgba(19, 19, 20, 0.12);
  transform: translateY(-6px);
}

img {
  width: var(--std-wd);
  height: var(--std-wd);
  aspect-ratio: 1/1;
  border-radius: var(--std-rd);
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--std-wd);
  text-align: center;
}

.card-container h2,
.card-container p {
  margin: 16px 0 0 0;
}

.card-container h2 {
  font-size: 1.3rem;
  line-height: 1.2;
  color: var(--slate-900);
  font-weight: var(--bld-ft-w);
}

.card-container p {
  color: var(--slate-500);
  line-height: 1.4;
  font-weight: var(--std-ft-w);
}
